body {
  font-family: $font-family;
  font-size: 14px;
}

a.btn{

  &:focus{
    color: inherit;
  }

  &.btn-primary{
    &:focus{
      color: white;
    }
  }
}

a {
  color: $links-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: darken($links-color, 25%);
    cursor: pointer;
  }

  &.btn{
    &:focus{
      color: $button-color;
    }

    &:focus:hover{
      color: white;
    }

  }
}

h1, h2, h3{
  margin: 0;
}

nav {
  padding: 0;
}

.section > * {
  max-width: $grid-size;
  margin: 0 auto;
}

@media screen and (max-width: $size-xl) {
  .section > * {
    padding: 0 2rem;
  }
}

.container{
  padding: 0 4rem;
}

.bg-light{
  background-color: $background--light;
}

.bg-dark{
  background-color: $background--dark;
}



